'scopeName': 'text.serpent.console'
'name': 'Ethereum Console'
'fileTypes': [
  'doctest'
  'pycon'
]
'patterns': [
  {
    'match': '^(>{3}|\\.{3}|In \\[\\d+\\]:) (.+)$'
    'captures':
      '1':
        'name': 'punctuation.separator.prompt.serpent.console'
      '2':
        'patterns': [
          'include': 'source.serpent'
        ]
  }
]
