// Easy config for when user wants to display different icons,
// but not colorize them.
@colored-icons: true;

// Purple colors
.ethereum-purple when (@colored-icons) { color: #6F42C1; }

// Based on https://github.com/file-icons/atom/blob/master/styles/icons.less
.octicons { font-family: "Octicons Regular"; font-size: 16px; top: 1px; }
.ethereum-icon { .octicons; .ethereum-purple; content: "\f047"; }

.icon[data-name$=".se"], .icon[data-name$=".sol"] {
  &:before { .ethereum-icon; } /* Colours icon only */
}
